# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/loom-server/build.gradle.kts
/loom-server/src/minecraft
/paper-server
/loom-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
